@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Tahoma", "sans-serif";

  --gradient-text: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(79,9,121,1) 65%, rgba(0,212,255,1) 100%);
  --gradient-bar: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(79,9,121,1) 65%, rgba(0,212,255,1) 100%);

  --color-bg: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  --hover-text: rgb(131,58,180);

  --background-hover-signup: #FFFFFF;

  --body-gradient: radial-gradient(circle, rgba(150,24,142,1) 9%, rgba(33,109,120,1) 100%);


}
